<div class="widget">
  <h1 class="playerTitle" id="playerOne" data-dojo-attach-point="playerOneNameNode">Player 1</h1>
  <button class="button buttonPlus" data-dojo-attach-event='onclick: incrementP1'>+1</button>
  <div class="numberDiv">
    <span class="number" data-dojo-attach-point='counterP1'>0</span>
  </div>
  <button class="button buttonMinus" data-dojo-attach-event='onclick: decrementP1'>-1</button>
  <button class="button buttonReset" data-dojo-attach-event='onclick: resetP1'>Reset</button>


  <h1 class="playerTitle" data-dojo-attach-point="playerTwoNameNode">Player 2</h1>
  <button class="button buttonPlus" data-dojo-attach-event='onclick: incrementP2'>+1</button>
  <div class="numberDiv">
    <span class="number" data-dojo-attach-point='counterP2'>0</span>
  </div>
  <button class="button buttonMinus" data-dojo-attach-event='onclick: decrementP2'>-1</button>
  <button class="button buttonReset" data-dojo-attach-event='onclick: resetP2'>Reset</button>
</div>
